
.container.about{
    width: 80%;
    margin: 0 auto;
    .top-section {
        .baseBottomMargin();
        .setFlex(column, baseline);
        img {
            width: 125%;
            max-height: 300px;
            align-self: center;
            .baseBottomMargin();
        }
    }
} 
