
.container.about{
    margin: 0 auto;
    section {
        .baseBottomMargin();
        .setFlex(column, baseline);
        img {
            align-self: center;
            .baseBottomMargin();
        }
        .about-full-img {
            width: 100%;
        }
    }
}