
header {
    .baseBottomMargin();  
    padding-top: 20px;
    div {
        .setFlex(column, center);
        align-items: center;
        h1 {
            .baseBottomMargin();  
        } 
        nav {
            width: 50%;
            .setFlex(row, space-evenly);
            a {
                .styleButton(@button-bg, @font-color, @pop-color1, @font-color, @pop-color2, @font-color);
                @media @mobile {
                    border-radius: 0px;
                    border-top: solid 1px (@button-bg - 30);
                    &:last-child {
                        border-bottom: solid 1px (@button-bg - 30);
                    }
                } 
            }  
            .current{
                background-color: @pop-color2;
                &:hover {
                    background-color: darken(@pop-color2, 5%);
                }
                &:active {
                    background-color: @pop-color1;
                }
            }
            @media @tablet {
                width: 80%;
            }
            @media @mobile {
                width: 100%;
                .setFlex(column, flex-start);
                text-align: center;
            }   
        }   
    }
}